.byki {
    font-size: 25px ;
    font-family: 'PT Sans Narrow', sans-serif;
    color: firebrick;
}
.az {
    font-size: 35px;
    font-family: 'Lobster', cursive;
    color: darkolivegreen;
}
.delta {
    font-size: 20px;
    font-family: 'Caveat', cursive;
    color: darkblue;
}
.eta {
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    color: crimson;
}
.gama {
    font-size: 20px;
    font-family: 'Kelly Slab', cursive;
    color: coral;
}
.epsl {
    color: chocolate;
}
.asd {
    color: orangered;
}
.opl {
    color: lawngreen;
}
.trew {
    color: maroon;
}
